/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* debug */

/* * {
  border: 1px dashed black;
} */

/* GENERICS */

.container {
  width: 1080px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */

.hdrpage {
  padding: 10px 0;
  color: white;
  background-color: #ff6900;
  /* debug */
  /* height: 100px; */
}

.hdrpage .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hdrpage .hdr--nav > ul {
  list-style: none;
}

.hdrpage .hdr--nav li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

.hdrpage .hdr--nav a {
  color: white;
  text-decoration: none;
}

.hdrpage .logo {
  width: 150px;
}

.hdrpage .hdr--links * {
  display: inline-block;
  margin: 5px;
}

/* MAIN */

main {
  padding: 40px 0;
}

main .container {
  display: flex;
  flex-wrap: wrap;
}

main .container .article {
  min-width: calc(100% / 3 - 20px);
  margin: 10px;
  /* debug */
  min-height: 400px;
  background-color: bisque;
}

/* FOOTER */

.ftrpage {
  /* debug */
  background-color: #1a1a1a;
  height: 100px;
}

.ftrpage .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
